<style>
	html, body {
		height: 100%;
	}

	body {
		margin: 0;
		padding: 0;
		width: 100%;
		display: table;
		font-weight: 100;
		font-family: 'Lato';
	}
	
	
	#content { 
		width: 300px; 
		height: 300px; 
		border: 1px solid black; 
		position: relative; 
	}
	
	.topright { 
		position: absolute; 
		top: 5px; 
		right: 25px; 
		text-align: right; 
		letter-spacing: 2px;
	}

	.container {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}

	.content {
		color: red;
		text-align: center;
		display: inline-block;
	}

	.title {
		font-size: 96px;
	}
	
	
</style>